/* Estilos globais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos do HEADER/MENU */

/* Navegação primaria */

nav {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #1b8e99;
  height: 45px;
  text-align: center;
}

.logo-drone {
  background-image: url(../img/logo.fw.png);
  background-repeat: no-repeat;
  height: 146px;
  width: 194px;
  display: inline-block;
  margin-left: 30px;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

/* Navegação secundaria */

.navegation {
  max-width: 980px;
  height: 45px;
  margin: 0 auto;
  background-color: #660000;
  display: flex;
  text-align: center;
}

.navegation-bar {
  display: flex;
  align-items: center;
}

.nav-bar li,
.navegation-bar li {
  list-style-type: none;
}

.nav-bar li a,
.navegation-bar li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.4s ease;
}

.nav-bar li a {
  max-width: 114px;
}

.navegation-bar li a {
  max-width: 99px;
}

.nav-bar li a:hover {
  background-color: #92c9ce;
}

.navegation-bar li a:hover {
  background-color: white;
  color: #660000;
}

.banner {
  background-image: url(../img/banner.fw.png);
  background-position: center -55px;
  background-repeat: no-repeat;
  max-width: 980px;
  height: 200px;
  margin: auto;
}

/* ESTILOS DA LOJA VIRTUAL */

main {
  width: 950px;
  margin: 0 auto;
  text-align: center;
}

.titulo{
  display: flex;
  justify-content: space-around;
  margin: 24px 0 ;
  max-width: 930px;
}

.titulo-com-underline h2 {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #660000;
  margin-top: 30px;
}

.underline{
  border-bottom: 3px solid #660000;
  width: 800px;
  margin-top: 10px;
}

.titulo img{
  width: 125px;
  height: 77px;
}

/*BOX DE CADA DRONE*/

.dji-inspire,
.phantom,
.ar-drone {
  display: inline-block;
  font-family: Tahoma;
  text-align: center;
}

.drone-azul {
  width: 300px;
  height: 280px;
  border: #1b8e99 solid 2px;
}

.drone-vermelho {
    border: #660000 solid 2px;
    width: 300px;
    height: 280px;
  }

.drone-azul p, .drone-azul h3{
    color: #1b8e99;
}

.drone-vermelho p, .drone-vermelho h3{
    color: #660000;
}

.drone-azul p{
    font-size: 13px;
}

.drone-vermelho p{
    font-size: 13px;
}

.drone-azul h3{
    background-color: #1b8e9933;
}

.drone-vermelho h3{
    background-color: #6600002d;
}


.dji-inspire .preco, .ar-drone .preco{
    height: 96px;
    background-color: #1b8e99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.phantom .preco{
    height: 96px;
    background-color: #660000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.preco p{
    color: white;
    font-size: 30px;
}

.preco p span{
    font-size: 14px;
}

.preco img{
    background-color: white;
    border-radius: 4px;
}
