/* Estilos globais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 980px;
  margin: auto;
}

/* Estilos do HEADER/MENU */

/* Navegação primaria */

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #1b8e99;
  height: 45px;
  text-align: center;
}

.logo-drone {
  background-image: url(../img/logo.fw.png);
  background-repeat: no-repeat;
  height: 146px;
  width: 194px;
  display: inline-block;
  margin-left: 30px;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

/* Navegação secundaria */

.navegation {
  height: 45px;
  margin: 0 auto;
  background-color: #660000;
  display: flex;
  text-align: center;
}

.navegation-bar {
  display: flex;
  align-items: center;
}

.nav-bar li,
.navegation-bar li {
  list-style-type: none;
}

.nav-bar li a,
.navegation-bar li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.4s ease;
}

.nav-bar li a {
  max-width: 114px;
}

.navegation-bar li a {
  max-width: 99px;
}

.nav-bar li a:hover {
  background-color: #92c9ce;
}

.navegation-bar li a:hover {
  background-color: white;
  color: #660000;
}

.banner {
  background-image: url(../img/banner.fw.png);
  background-position: center -55px;
  background-repeat: no-repeat;
  max-width: 980px;
  height: 200px;
  margin: auto;
}

/* ESTILOS DA LOJA VIRTUAL */

main {
  margin: 0 auto;
  text-align: center;
}

.titulo-loja,
.titulo-servico {
  display: flex;
  justify-content: space-around;
  margin: 24px auto;
  width: 97%;
}

.texto-titulo-loja,
.texto-titulo-servico {
  width: 100%;
}

.texto-titulo-loja h2,
.texto-titulo-servico h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  text-align: left;
}

.texto-titulo-loja {
  color: #660000;
  border-bottom: 2px solid #660000;
}

.texto-titulo-servico {
  color: #1b8e99;
  border-bottom: 2px solid #1b8e99;
}

.titulo-loja img,
.titulo-servico img {
  width: 125px;
  height: 77px;
}

/*BOX DE CADA DRONE*/

.dji-inspire,
.phantom,
.ar-drone {
  display: inline-block;
  font-family: Tahoma;
  text-align: center;
}

.phantom {
  margin-left: 20px;
  margin-right: 20px;
}



.drone-azul, .drone-vermelho {
  width: 300px;
  height: 280px;
}

.drone-azul {
  border: #1b8e99 solid 2px;
}

.drone-vermelho {
  border: #660000 solid 2px;
}

.drone-azul p,
.drone-azul h3 {
  color: #1b8e99;
}

.drone-vermelho p,
.drone-vermelho h3 {
  color: #660000;
}

.drone-azul p,
.drone-vermelho p {
  font-size: 13px;
  text-align: left;
  padding: 16px;
}

.drone-azul h3 {
  background-color: #1b8e9933;
}

.drone-vermelho h3 {
  background-color: #6600002d;
}

.dji-inspire .preco,
.phantom .preco,
.ar-drone .preco {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.dji-inspire .preco,
.ar-drone .preco {
  background-color: #1b8e99;
}

.phantom .preco {
  background-color: #660000;
}

.preco p {
  color: white;
  font-size: 30px;
  text-align: left;
}

.preco img {
  background-color: white;
  border-radius: 4px;
}

.borda-final-loja {
  width: 97%;
  height: 16px;
  margin: 16px auto;
  background-color: #444;
}

/* ESTILO DOS SERVICOS */

.servicos-curso,
.servicos-manutenção,
.servicos-filamgens {
  display: inline-block;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 300px;
  height: 380px;
}

.servicos-curso img,
.servicos-manutenção img,
.servicos-filamgens img {
  width: 100%;
}

.servicos-curso,
.servicos-filamgens {
  border: #660000 solid 2px;
  border-bottom: 8px solid #660000;
}

.servicos-manutenção {
  border: #1b8e99 solid 2px;
  border-bottom: 8px solid #1b8e99;
  margin-left: 20px;
  margin-right: 20px;
}

.servico-texto {
  text-align: left;
  padding: 8px 12px;
}

.servico-texto h2 {
  font-size: 17px;
  text-transform: uppercase;
}

.servicos-curso .servico-texto h2,
.servicos-filamgens .servico-texto h2,
.servicos-curso .servico-texto p,
.servicos-filamgens .servico-texto p {
  color: #660000;
}

.servicos-manutenção .servico-texto h2,
.servicos-manutenção .servico-texto p {
  color: #1b8e99;
}

.servico-texto p {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin-top: 32px;
}

/* Footer */

footer {
  margin-top: 50px;
}

.drone-footer {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

footer .txt-logo {
  height: 96px;
  display: flex;
  justify-content: space-around;
  background-color: #1b8e99;
  align-items: center;
  padding: 20px;
}

footer .txt-logo .logo-footer {
  width: 150px;
  height: 30px;
}

.txt-logo p {
  color: white;
  font-family: Tahoma;
}

.professor img {
  vertical-align: 48px;
}

footer .bortola {
  display: flex;
  justify-content: flex-end;
  background-color: #660000;
  font-family: Tahoma;
  color: white;
  height: 26px;
}

.bortola p {
  font-size: 14px;
  padding: 5px;
  margin-right: 100px;
}
